chat_app/macos/Flutter/Flutter-Release.xcconfig
chat_app/macos/Flutter/Flutter-Debug.xcconfig
chat_app/macos/Podfile
chat_app/ios/Runner.xcworkspace/contents.xcworkspacedata
chat_app/ios/Runner.xcworkspace/contents.xcworkspacedata
chat_app/ios/Runner.xcworkspace/contents.xcworkspacedata
chat_app/ios/Runner.xcodeproj/project.pbxproj
chat_app/ios/Runner/GoogleService-Info.plist
chat_app/ios/Flutter/Release.xcconfig
chat_app/ios/Flutter/Release.xcconfig
chat_app/ios/Flutter/Debug.xcconfig
chat_app/ios/Podfile.lock
chat_app/ios/Podfile
chat_app/install.sh
chat_app/windows/flutter/generated_plugin_registrant.cc
chat_app/windows/flutter/generated_plugin_registrant.cc
chat_app/macos/Flutter/GeneratedPluginRegistrant.swift
chat_app/macos/Flutter/GeneratedPluginRegistrant.swift
chat_app/linux/flutter/generated_plugins.cmake
chat_app/linux/flutter/generated_plugin_registrant.cc
chat_app/pubspec.lock
.vscode/launch.json
chat_app/pubspec.lock
chat_app/windows/flutter/generated_plugins.cmake
chat_app/windows/flutter/generated_plugin_registrant.cc
chat_app/macos/Flutter/GeneratedPluginRegistrant.swift
chat_app/linux/flutter/generated_plugins.cmake
chat_app/pubspec.lock
